<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invoice List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Invoice List</h1>
        <ul class="list-group">
            {% for invoice in invoices %}
                <li class="list-group-item">
                    {{ invoice.Invoice_ID }} - {{ invoice.Date }} - {{ invoice.Payment_method }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="btn btn-primary mt-3" onclick="location.href='{% url 'new_invoice' %}'">Create New Invoice</button>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
